/* Coolors Exported Palette - coolors.co/0c3860-fffffa-44a1a0-78cdd7-247b7b */

/* HSL */
$color1: hsla(209%, 78%, 21%, 1);
$color2: hsla(60%, 100%, 99%, 1);
$color3: hsla(179%, 41%, 45%, 1);
$color4: hsla(186%, 54%, 66%, 1);
$color5: hsla(180%, 55%, 31%, 1);

/* RGB */
$color1: rgba(12, 56, 96, 1);
$color2: rgba(255, 255, 250, 1);
$color3: rgba(68, 161, 160, 1);
$color4: rgba(120, 205, 215, 1);
$color5: rgba(36, 123, 123, 1);